.headerContainer {
    width: 100%;
    padding: 0 4rem;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgb(83, 53, 53);
}

.siteBrand {
    width: fit-content;
    
}

.siteNav {
    width: fit-content;
    display: flex;
    flex-direction: row-reverse;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 4rem;

}

.siteBrand {
    width: 30%;
    display: flex;
    flex-direction: row;
    color: #ececec;
    font-weight: 400;
    
}

h2 {
    color: #ececec;
}